<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center mx-auto">
    <div class="col border border-dark rounded text-center py-3 mx-4">
      <div class="row my-3">
        <div class="col">
          <h3>Username</h3>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <h3>Userrole</h3>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <h3>Biography</h3>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <div class="col border rounded py-3 px-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id elementum sem. Aenean eu dictum sem, et ornare orci. Nam sit amet magna vitae est porttitor volutpat placerat in ex. Nulla quis libero odio. Pellentesque ultricies ac augue id mattis. Ut tempor ut neque vel tincidunt. Etiam mauris justo, sagittis et fermentum id, pellentesque pellentesque orci. Aenean felis magna, pulvinar eu interdum vel, lacinia in ante.
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn btn-outline-dark">Geofence</button>
            </div>
            <div class="col-sm">
              <ul class="list-group list-group-flush">
                <a href="#" class="list-group-item">(Click to edit)</a>
                <a href="#" class="list-group-item">City</a>
                <a href="#" class="list-group-item">Country</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
