<div class="container h-100">
  <div class="row align-items-center justify-content-center border border-dark rounded py-3">
      <button type="button" class="btn btn-outline-dark">All</button>
      <button type="button" class="btn btn-outline-dark">Created</button>
      <button type="button" class="btn btn-outline-dark">Shared</button>
      <button type="button" class="btn btn-outline-dark">Commented</button>
      <button type="button" class="btn btn-outline-dark">Upvoted</button>
      <button type="button" class="btn btn-outline-dark">Downvoted</button>
  </div>

</div>
