<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center mx-auto">
    <div class="col border border-dark rounded text-center py-3 mx-4">
      <div class="row my-3">
        <div class="col">
          <h5>My Complaints</h5>
          <ul class="list-group list-group-flush">
            <% Post.where('user_id == ?', current_user.id).all.each do |post|%>
              <% if post.accessible?(current_user.id) %>
                <li><h6><%= link_to post.title, post, :class => "text-primary" %></h6></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <h5>Followed Complaints</h5>
          <ul class="list-group list-group-flush">
            <% PostFollow.where('user_id == ?', current_user.id).each do |pf| %>
              <% post = Post.find_by('id == ?', pf.post_id)%>
              <% if post.accessible?(current_user.id) %>
                <li><h6><%= link_to post.title, post, :class => "text-primary" %></h6></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
