<div class="container h-100">
  <div class="col">
    <h2>Welcome to GeoComplainer</h2>
    <p class="h6">Here you will be able to submit, share and comment on complaints such as:</p>
    <br>
    <ul>
      <li class="h6">Public infrastructure</li>
      <li class="h6">Equipment</li>
      <li class="h6">Services</li>
      <li class="h6">Professionals</li>
      <li class="h6">Authorities</li>
      <li class="h6">Institutions</li>
      <li class="h6">Businesses</li>
      <li class="h6">etc...</li>
    </ul>
    <br>
    <p class="h6">Dare to be part of the noisiest community!</p>
  </div>
</div>

