<% @left_side_bar = render :partial => "home/home_filter_bar" %>
<% @right_side_bar = render :partial => "shared/my_complaints_bar" %>
<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col border border-dark rounded py-3 px-5">
      <h1 class="app-title mb-5">GeoComplainer</h1>
    </div>
  </div>
</div>

