<div class="container h-100">
  <div class="col">
    <h1 class="app-title mb-5">GeoComplainer</h1>
    <h4>Use Policy (AUP) and Terms of Service (ToS)</h2>
    <br>
    <p class="h6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a metus eu velit maximus ornare. In pulvinar a enim sed scelerisque. Donec fermentum ligula eu risus mollis suscipit. Mauris molestie tempus enim, id fringilla quam molestie in. Nunc non odio a velit elementum viverra sed a leo. Nunc mauris arcu, suscipit eget nibh nec, commodo consequat risus. Phasellus consequat in est vitae finibus.

      Morbi ac justo nec sem gravida aliquet at vel nulla. Sed in felis et turpis pulvinar feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus non nulla ut quam sodales sagittis nec non quam. Morbi aliquet sollicitudin sem at tempor. Sed dictum tellus sem, vel lobortis justo sagittis ac. Aenean tempus turpis et arcu tincidunt suscipit.

      Suspendisse quis orci nec nunc aliquet dignissim sit amet eget ipsum. Cras in massa vel augue finibus iaculis. Sed at velit velit. Quisque auctor turpis nec enim sollicitudin sollicitudin. Aliquam iaculis suscipit mauris, nec imperdiet leo vestibulum vel. Nam fringilla orci sed libero aliquam tempor ut in velit. In dapibus volutpat tellus sit amet auctor. Fusce tempor lacus lacus, a aliquet purus volutpat sed.

      Sed sed accumsan magna. Aenean non tempor erat. Maecenas sem augue, efficitur at dolor non, efficitur iaculis eros. Sed blandit, mi ac molestie faucibus, est libero lacinia nisl, nec elementum dolor lectus id arcu. Donec ac nunc quam. Nam non blandit nunc. Nulla sollicitudin elit blandit augue elementum pharetra.

      Aliquam volutpat est nec leo vulputate, ac dapibus neque faucibus. Aliquam lobortis ante commodo dapibus volutpat. Fusce felis tortor, sodales in est vitae, bibendum elementum est. Donec sit amet ipsum eu magna accumsan convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam at sem ullamcorper, finibus lacus et, feugiat orci. Praesent convallis arcu eget tincidunt faucibus. Etiam fermentum augue magna, a imperdiet lacus egestas ac. Cras vel ultrices sapien. Aliquam erat volutpat. Sed ultricies vestibulum tempor. Vestibulum dapibus fringilla ante nec ornare. 
    </p>
  </div>
</div>

