<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col border border-dark rounded py-3 px-5">
      <h1 class="app-title mb-5">GeoComplainer</h1>
      <form>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="inputUsername">Username</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="inputUsername" placeholder="Enter username">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="inputEmail">Email</label>
          <div class="col-sm-7">
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="inputConfirmEmail">Confirm Email</label>
          <div class="col-sm-7">
            <input type="email" class="form-control" id="inputConfirmEmail" placeholder="Confirm email">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="inputPassword">Password</label>
          <div class="col-sm-7">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="inputConfirmPassword">Confirm Password</label>
          <div class="col-sm-7">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="inputCountry">Country</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="inputCountry" placeholder="Choose country">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="inputRegion">Region</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="inputRegion" placeholder="Choose region">
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="agreementCheck">
          <label class="form-check-label" for="agreementCheck">I agree with <span><a href="terms">the Use Policy (AUP) and the Terms of Service (ToS)</a></span></label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>

