<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center mx-auto">
    <div class="col border border-dark rounded text-center py-3 mx-4">
      <div class="row my-3">
        <div class="col">
          <div class="btn-group-vertical">
            <button type="button" class="btn btn-outline-dark">Create</button>
            <button type="button" class="btn btn-outline-dark">To Blacklist</button>
            <button type="button" class="btn btn-outline-dark">Block</button>
            <button type="button" class="btn btn-outline-dark">Delete</button>
            <button type="button" class="btn btn-outline-dark">Set Geofence</button>
          </div>
        </div>
      </div>
  </div>
</div>

