<div class="container h-100">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col">
        <ul class="list-unstyled">
          <% if @posts != nil%>
            <% if @posts.size != 0%>
              <% @posts.each do |element| %>
              <li class="my-1 py-3">
                <% if element.is_a?(Post)%>
                <%= render 'shared/post_list_element', :post => element  %>
                <% else %>
                <%= render 'searches/user_list_element', :user => element  %>
                <% end %>
              </li>
              <% end %>
            <% end %>
          <% else %>
            <%= "No results"%>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
