<div class="container">
  <div class="row border border-dark rounded">
    <div class="col-2 py-2">
      <div class="col text-center border bg-light p-4">
        <p class="h4"><%= "picture" %></p>
      </div>
    </div>
    <div class="col-10">
      <div class="row-2">
        <h4 class="text-truncate"><%= user.username %></h4>
        <h6>Location: <span><%= user_location(user) %></span></h6>
      </div>
    </div>
  </div>
</div>
