html, body {
  height: 100vh;
}

.nav-element {
    color: white !important;
    font-size: 1.5em !important;
}

.main-content {
    height: 100vh !important;
}

.app-title {
    color: blue;
    text-align: center;
}

#site-body {
	padding-top: 4em;
}
