html, body {
  height: 100vh;
}

.nav-element {
    color: white !important;
    font-size: 1.5em !important;
}

.main-content {
    height: 100vh !important;
}

.app-title {
    color: blue;
    text-align: center;
}

#site-body {
	padding-top: 4em;
}

.block-with-text {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 4.8em; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
