<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">GeoComplainer</a>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-light mx-2" type="submit">Search</button>
    </form>
  <ul class="navbar-nav ml-md-auto">
    <button class="btn btn-outline-light mx-2" type="button">Sign Up</button>
    <button class="btn btn-outline-light mx-2" type="button">Log In</button>
  </ul>
</nav>
